{% extends 'base.html' %}
{% autoescape None %}

{% block title %} Anderson's /home {% end %}

{% block content %}
<div class="span16 blog-header">
    <h3 class="blog-title">While(!(succeed == try(){}));</h3>
</div>

<div class="well span14">
    <form id="formPost" class="form-stacked" method="post" action="{{ form_action }}">
        <fieldset>
            <legend>Enter a new Post:</legend>
            <em>
                {% for field in form %}
                <div class="clearfix">
                    <label>{{ unicode(field.label) }}</label>
                    <div class="input">
                        {{ field(class_='xxlarge') }}
                    </div>
                </div>
                {% end %}
                {{ xsrf }}
                <input class="btn primary" id="btnFormPost" type="submit" value="send" />
                {% if post_id %}
                    <input class="btn danger" id="btnPostDelete" postID="{{ post_id }}" type="button" value="delete" />
                {% end %}
            </em>
        </fieldset> 
    </form>
</div>

{% end %}
